<div class="container text-center">
  <h1>About page</h1>
  <p>We are DeveloperMATCH. Our company focuses on creating an exclusive community
  of master Developers and Entrepreneurs to meet.</p>
</div>